<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		
	<add name="LMPEntities" connectionString="metadata=&quot;res://*/Data Access.LMPModel.csdl|res://*/Data Access.LMPModel.ssdl|res://*/Data Access.LMPModel.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=TETIS-ANGEL\SQLEXPRESS;initial catalog=LMP;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>